*{
    margin: 0;
    padding: 0;
}
.header-frist-banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
    width: 80%;
    margin: auto;
    text-align: left;
  
}
.lets-make-p{
    width: 500px;
    margin: auto;
    

}
.header-frist-banner-h1{
    font-size: 65px;
    margin-bottom: 20px;
}
.header-frist-banner-pic10{
    height: 75vh;
}
.one{
    background-color: rgba(236, 120, 159, 0.281);
}
.btn{
    padding: 18px 30px;
    font-size: 15px;
    margin-top: 25px;
    background-color: rgb(238, 70, 126);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    box-shadow: 0 0 5px  rgb(238, 70, 126), 0 0 25px  rgb(238, 70, 126) ;
}
.btn:hover{
    box-shadow: 0 0 5px  rgb(238, 70, 126),0 0 25px  rgb(238, 70, 126),0 0 50px  rgb(238, 70, 126),0 0 100px  rgb(238, 70, 126),0 0 20px  rgb(238, 70, 126) ;

}
.Our-Featured-Flowers{
    text-align: center;
    margin-top: 160px;
    /* font-weight: normal; */

}
.Our-Featured-Flowers-h1{
    font-size: 40px;
    margin-bottom: 10px;
}
 
 /* 3 pic into one div  */
.Our-Featured-Flowers-3pic{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
    box-sizing: border-box;
    /* position: absolute; */
    gap: 30px;
   
    /* background-color: red; */

}
.image-three{
     clip-path: circle(63.1% at 51% 63%);
    
}
.pic-1{
    padding: 70px 20px 0 20px;
   background-color: rgba(238, 214, 247, 0.767);
}

.pic-2{
    background-color: rgba(175, 238, 238, 0.829);
  padding-top: 125px;
    /* margin: px 0 0 0 ; */
}
.pic-3{
    background-color: rgba(214, 158, 231, 0.932);
    padding: 15px 20px  10px 60px;
    
}
.down-text{
    margin: 15px 0 0 28%;
    text-decoration: underline;
   
}

.down-text:hover{
    color: rgb(228, 10, 10);
}
