*{
    margin: 0;
    padding: 0;
    
}
.header-frist-banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
    width: 80%;
    margin: auto;
    text-align: left;
  
}
.lets-make-p{
    width: 500px;
    margin: auto;
    

}
.header-frist-banner-h1{
    font-size: 65px;
    margin-bottom: 20px;
}
.header-frist-banner-pic10{
    height: 75vh;
}
.one{
    background-color: rgba(236, 120, 159, 0.281);
}
.btn{
    padding: 18px 30px;
    font-size: 15px;
    margin-top: 25px;
    background-color: rgb(238, 70, 126);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    box-shadow: 0 0 5px  rgb(238, 70, 126), 0 0 25px  rgb(238, 70, 126) ;
}
.btn:hover{
    box-shadow: 0 0 5px  rgb(238, 70, 126),0 0 25px  rgb(238, 70, 126),0 0 50px  rgb(238, 70, 126),0 0 100px  rgb(238, 70, 126),0 0 20px  rgb(238, 70, 126) ;

}
.Our-Featured-Flowers{
    text-align: center;
    margin-top: 160px;
    /* font-weight: normal; */

}
.Our-Featured-Flowers-h1{
    font-size: 40px;
    margin-bottom: 10px;
}
 
 /* 3 pic into one div  */
.Our-Featured-Flowers-3pic{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: auto;
  


}
.image-three{
    width: 270px;
    margin: auto;
    height: 375px;
    object-fit:contain;
    clip-path: circle(63.1% at 51% 63%);
    /* gap: 40px; */
}
.pic-1{
   
   background-color: rgba(238, 214, 247, 0.767);
}

.pic-2{
    background-color: rgba(175, 238, 238, 0.829);
  
   
}
.pic-3{
    background-color: rgba(214, 158, 231, 0.932);
    
    
}
.down-text{
    margin: 15px 0 0 10%;
    text-decoration: underline;
   
}

.down-text:hover{
    color: rgb(228, 10, 10);
}


.two{
    box-sizing: border-box;
}
/* banner  Same Day Delivery. Click & Collect. start */

.banner-Same-Day{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    margin-top: 150px ;
    background-color:rgba(240, 230, 210, 0.849);
    padding: 40px;

}
.banner-Same-Day h3{
    margin-top: 20px;
    text-align: left;
}
/* .banner-Same-Day img{
    margin-left: 40px;
    
} */
.banner-Same-Day-same-pic{
    padding-left: 30%;
    margin: 0;
}


    .banner-Same-Day-pic-3{
        padding-left: 25px;
    }
    header{
        margin: 0 0 100px 0;
    }

    /* header is complete  */


/* main body start  */
.main-one{
   
    display: flex;
    justify-content: space-around;
    /* position: absolute; */
    text-align: center;
    height: 65vh;
    /* margin-top: 130px; */
    background-color:  rgba(236, 120, 159, 0.281);
    /* gap: 10px; */
    box-sizing: border-box;
    /* width: 100%; */
    margin: auto;
    width: 100%;
    
}
span{
    color:  rgb(233, 7, 82);
}
.main-one-1st-div{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.main-one-2nd-div img{
    /* object-fit: cover; */
    width: 290px;
    margin-top: 20px;
    padding: 0 200px 0 0 ;
    /* overflow: none; */

}
.main-one-h1{
    font-size: 40px;
}
 .main-one-p{
    width: 500px;
    /* margin: auto; */
    padding: 20px 0 0 0 ;
} 

/* main half complete  */

/* main section 2 start  */

.main-instra{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   width: 70%;
   margin: auto;
   gap: 30px;
                                        /* new added  code */
}
.main-two{
    width: 90%;
    margin: auto;
    
    
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
}
.main-instra img{
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    height: 300px;
    box-shadow: 1px 0px 20px 10px rgb(136, 133, 133);
}
.main-text{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px 200px 100px auto;
}
.main-text-h1{
    font-size: 40px;
    padding-bottom: 15px;
}

/* instea complete  */

.main-3-all{
    background-image: url(./images/Rectangle\ 9.png);
    height: 50vh;
    width: 100%;
    margin:10px ;
    background-repeat: no-repeat;
    background-size:70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
                                            /* some new added  */
}
.main-3-text-h1{
    font-size: 30PX;
    text-align: center;
}
.main-3-text-P{
    margin-top: 5px;
    padding-left: 40px;
}
input[type="email"]{
    width: 500px;
    height: 30px;
    padding: 10px;
    border: none;
    margin-right: 20px;
    box-shadow: 1px 2px 2px 2px rgba(201, 201, 192, 0.411);
    border-radius: 8px;

} 
.main-3{
    margin-top: 100px;
    margin-bottom: 100px;
}

/* main part done  */

footer{
    background-color: black;
    color: white;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
}
.footer-h1{
    font-size: 40px;
    margin-top: 10px;
}
.footer-div-p{
    
  margin-bottom: 30px;
   
    
}

/* all done  */